---
layout: splash
author_profile: true
excerpt: "*from quarks to quasars*"
header:
  overlay_image: /assets/images/helix_nebula.jpg
  caption: "[ESO/VISTA/J. Emerson](https://www.eso.org/public/images/eso1205a/)"
feature_row1:
  - image_path: /assets/images/motherboard.jpg
    alt: "so glowy"
    title: "The Butterfly Defect"
    excerpt: "Humanity hurtles towards a precipice as the aeon long tango of energy & life rages on"
    url: "coming_soon.html"
    btn_label: "Learn More"
    btn_class: "btn--inverse"
feature_row2:
  - image_path: /assets/images/earthrise.jpg
    alt: "earthrise"
    title: "Sirens in the Cosmic Fugue"
    excerpt: "Those other worlds— promising untold opportunities—beckon. Silently, they orbit the Sun, waiting"
    url: "cosmos/sirens-in-the-cosmic-fugue"
    btn_label: "Learn More"
    btn_class: "btn--inverse"
feature_row3:
  - image_path: /assets/images/tiananmen_square.jpg
    title: "Democracy Circles in Squares"
    excerpt: "They cheer and clap for decades but it all comes crumbling down overnight"
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - {{site.title}}</title>
</head>
<body>
  {% include feature_row id="feature_row2" type="center" %}
  {% include feature_row id="feature_row1" type="left" %}
  {% include feature_row id="feature_row3" type="right" %}
</body>
</html>
